body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-color: lightgoldenrodyellow;
  padding: 0px;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  gap: 45px;
  background-color: rgb(240, 130, 130);
  padding: 50px;
  border-radius: 40px;
  border-left: solid rgb(146, 6, 18) 6px;
}

.output-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(213, 237, 240);
  height: 85px;
  min-width: 316px;
  border-top: solid rgb(146, 6, 18) 6px;
  border-right: solid rgb(146, 6, 18) 6px;
  border-radius: 10px;
  font-family: cursive;
}

.past-input {
  height: 23px;
  font-size: 20px;
}

.current-input {
  height: 68px;
  font-size: 40px;
}

.buttons-container {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

button {
  color: rgb(146, 6, 18);
  background-color: white;
  height: 45px;
  width: 65px;
  font-size: 25px;
  border: solid 1px lightgray;
  border-radius: 6px;
  font-family: cursive;
  font-weight: 500;
}

.small-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.small-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 55px;
  border-radius: 20px;
  font-size: 16px;
}

.small-btn.left {
  background-color: white;
}

.small-btn.right {
  background-color: rgb(255, 196, 0);
  border: solid 1px rgb(209, 161, 3);
}

.header {
  display: flex;
  height: 25vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: rgb(240, 130, 130);
  gap: 80px;
  margin-bottom: 20px;
}

h1 {
  margin: 0px;
}

.diamond {
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom: 25px solid;
  position: relative;
  top: -15px;
}

.diamond::after {
  content: "";
  position: absolute;
  left: -15px;
  top: 25px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top: 25px solid;
}
